[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
semver = "*"
thamos = "*"
importlib-metadata = "==2.0.0"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"
filenamebear = "*"

[requires]
python_version = "3.6"
