[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-storages = "*"
ipython = "*"
ipykernel = "*"
requests = "*"
networkx = "*"
pandas = "*"
pandas-profiling = "*"
prettyprinter = "*"
# visualizations
plotly = "*"
cufflinks = "*"
matplotlib = "*"
# nbextensions
jupyter-require = "*"
jupyter_contrib_nbextensions = "*"  # needed by pipenv shell
sklearn = "*"

[dev-packages]
autopep8 = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.6"
