ipython
ipykernel
requests

networkx

pandas
pandas-profiling

prettyprinter

# visualizations
plotly==3.6.1
cufflinks
matplotlib

# nbextensions
jupyter-require
jupyter_contrib_nbextensions  # needed by pipenv shell

# dev-packages
autopep8 = "*"
